{{#with post}}

  <div class='post'>

    <h2>{{title}}</h2>

    <p>{{content}}</p>

    <button
      class='editPostButton btn btn-primary'
      data-id=''
    >Редагувати</button>

    <button class='deletePostButton btn btn-danger' data-id=''>Видалити</button>

    <div class='commentsContainer' data-id=''>

      <h3>Коментарі:</h3>

      <ul>

        {{#each comments}}
          <li>{{text}}</li>
        {{/each}}

      </ul>

      <form class='createCommentForm'>

        <input
          type='text'
          class='commentInput'
          placeholder='Новий коментар'
          required
        />

        <button type='submit'>Додати коментар</button>

      </form>

    </div>

  </div>
{{/with}}